// variables.scss

// Definición de colores personalizados
$dark-blue: #0d1b2a;
$field-drab: #6f6866;
$dark-sea-green: #90a955;
$ash-gray: #b7b7a7;
$light-gray: #e0e1dd;

// Asignación a variables de Bootstrap
$primary: $dark-sea-green;
$secondary: $ash-gray;
$dark: $dark-blue;
$light: $light-gray;
$body-bg: $light-gray;
$body-color: $dark-blue;
$font-family-base: 'Roboto', sans-serif;

// Mapa de colores del tema
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light
);
